.idea/
__pycache__/
docs/build/
tests/data/min_ic/
tests/data/split_ic/
tests/data/split_icd/
tests/data/split_icp/
tests/data/split_r/
tests/data/pipeline/out/
.ipynb_checkpoints/
kinodata/
sample_data/
notebooks/tmp/
tests/test_cache/
issue_*
main.py
datasail/cluster/wlk_olga.py
datasail/cluster/ecfp_amay.py
tmp/
log*.txt

MoleculeNet.py
run_moleculenet.sh
viz_molnet.py
