.idea/
__pycache__/
docs/build/
tests/data/min_ic/
tests/data/split_ic/
tests/data/split_icd/
tests/data/split_icp/
tests/data/split_r/
tests/data/pipeline/out/
.ipynb_checkpoints/
kinodata/
sample_data/
notebooks/tmp/
tests/test_cache/
issue_*
main.py
datasail/cluster/wlk_olga.py
datasail/cluster/ecfp_amay.py
tmp/
log*.txt
*.png
*.pdf

MoleculeNet.py
run_moleculenet.sh
viz_molnet.py
/experiments/MPP/datasail/
/experiments/MPP/deepchem/
/experiments/PDBBind/lppdbbind/
/experiments/PDBBind/runs/
/experiments/segfault/
/experiments/tsne/
/experiments/umap/
/experiments/david.py
/experiments/MPP_timing.pkl
/experiments/stiming.png
/experiments/timing.png
/runs/
/experiments/PDBBind/datasail/
/experiments/MPP/lohi/
/experiments/PDBBind/deepchem/
/experiments/PDBBind/graphpart/
/experiments/PDBBind/lohi/
/experiments_local/
/mave_test/
/tests/data/rw_data/mave_splits/
/experiments/Biogen/data/
/experiments/Biogen/datasail/HLM/
/experiments/Biogen/deepchem/HLM/
/experiments/Biogen/lohi/HLM/
/experiments/MPP/ML4Mol/
/experiments/MPP/ML4Mol_bace/
/experiments/MPP/ML4Mol_qm8/
/experiments/MPP/ML4Mol_qm9/
/experiments/MPP/tsne/
/experiments/MPP/timing.pkl
/experiments/MPP/train_ML4Mol.py
/experiments/PDBBind/ML4Mol/
/experiments/PDBBind/drug_embeds.pkl
/experiments/PDBBind/ML4Mol.ipynb
/experiments/PDBBind/prot_embeds.pkl
/experiments/PDBBind/tsne_embeds.pkl
/experiments/analysis/cdhit_leak/
/experiments/analysis/backup.pkl
/experiments/analysis/cluster_silhouette_scores.pkl
/experiments/analysis/clusterings/
/experiments/analysis/backup_scip2.pkl
/experiments/analysis/cluster_tables.pkl
/experiments/analysis/density.pkl
/experiments/analysis/figures.ipynb
/experiments/analysis/jaccard.pkl
/experiments/analysis/performances.pkl
/experiments/analysis/qm9.tar.gz
/experiments/analysis/rna.fasta
/experiments/analysis/save.pkl
/experiments/analysis/save_clustering.py
/experiments/analysis/silhouette_scores.pkl
/experiments/analysis/Untitled.ipynb
/ML4Mol_prepare.ipynb
/ML4Mol_QM8.ipynb
/ML4Mols_split.ipynb
/Untitled.ipynb
/ML4Mol/
/experiments/Biogen/datasail/
/experiments/Biogen/deepchem/
/experiments/Biogen/lohi/
