**/__pycache__/
**/.ipynb_checkpoints/
.pytest_cache/
.vscode/
.idea/
docs/build/
dict/
tests/data/raw_data/
tests/tmp/
*.ipynb
*.jpg
*.tsv
*.log
*.pkl
*.pdf
*.pyc
test.py

tests/data/genomes/out/*
tests/*.log
tests/*.fasta
dist/*
